<h1 class="mt-5">Agregar Producto</h1><small>{{texto1}}</small>
<hr>


<form [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>

        <div class="col-auto">
            <input class="form-control" formControlName="nombre">
            <span 
            
            error-msg
            color="red"
            [mensaje]="texto1"
            [color] ='color1'
            *ngIf="tieneError('nombre')"
            >
            </span>
        </div>
        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-primary float-end" type="submit" (click)="cambiarNombre()">
                    Guardar
                </button>
                &nbsp;
                <button class="btn btn-primary ml-1" type="submit" (click)="cambiarColor()">
                    Cambiar Color
                </button>
            </div>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid:{{miFormulario.valid}}</pre>
<pre>Value:{{miFormulario.value | json}}</pre>